@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
    list-style: none;
    box-sizing: border-box;
}

img {
    height: 45px;
    width: 45px;
    margin: .25rem;
    transition: all .25s ease;
}

body {
    background-color: var(--color-container);
}

:root {
    --color-container: #404040;
    --color-subcontainer: #737373;
    --font-color-main: #f5f5f5;
    --button-color: #262626;
    --font-color-secondary: #1d4ed8;
}

/* container and header styling */

.container {
    background-color: var(--color-container);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.header {
    position: absolute;
    top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing: .3em;
    color: var(--font-color-main);
}

.header strong {
    color: rgb(212, 117, 29);
}

/* start menu styling */

.game-container.new-game-menu {
    width: 600px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 50px 50px;
    grid-template-areas: 
        "head head"
        "p1 p2"
        "buttons buttons"
        "foot foot";
    gap: .5rem;
    padding: .5rem;
    background-color:var(--color-subcontainer);
    box-shadow: var(--button-color) 0px 5px 15px;
}

/* active game board styling */

.game-container.game-active {
    width: 95%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    background-color:var(--color-subcontainer);
    box-shadow: var(--button-color) 0px 5px 15px;
}

.game-container.game-active img {
    height: 100px;
    width: 100px;
}

.game-container.game-active span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--font-color-main);
}

.game-container.game-active .stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem 1rem;
    background-color: var(--color-container);
    box-shadow: var(--button-color) 0px 2px 8px 0px;
    border-bottom: .2rem solid var(--font-color-main);
}

.stat-container.player-one.active,
.stat-container.player-two.active {
    border-bottom: .2rem solid var(--font-color-secondary);
}

.game-container.game-active img {
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    border: .5rem solid var(--button-color);
    box-shadow: var(--button-color) 0px 5px 15px;
}

.board-cells {
    background-color: var(--color-subcontainer);
    border: .125rem solid var(--button-color); 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.weapon-img {
    height: 100%;
    width: 100%;
}



/* board cell styling */

.heading {
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding-left: 2em;
    letter-spacing: 1em;
    color: var(--font-color-main);
    background-color: var(--button-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: .2rem solid var(--font-color-secondary);
}

/* Start menu player menus */

.build-player-one {
    grid-area: p1;

}

.build-player-two {
    grid-area: p2;
}

.player-buttons {
    padding: .75em 2em;
    position: relative;
    left: 4.3rem;
    top: 1rem;
    margin-bottom: 2rem;
    appearance: none;
    outline: none;
    border: none;
    box-shadow: var(--button-color) 0px 2px 8px 0px;
    background-color: var(--button-color);
    color: var(--font-color-main);
    width: 150px;
    border-bottom: .2rem solid var(--font-color-secondary);
}

.player-two-button:hover {
    color: var(--font-color-secondary);
}

.player-menus ul {
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    gap: 3rem;
}

.build-player-two .player-two-button {
    cursor: pointer;
    transition: all .35s ease;
}

.player-menus h3 {
    font-weight: bolder;
    letter-spacing: .25rem;
}

.player-menus input {
    width: 12rem;
    appearance: none;
    outline: none;
    background-color: var(--color-container);
    border: var(--button-color);
    color: var(--font-color-main);
    padding: .35rem .5rem;
    border: .25rem solid var(--button-color);

}

.player-menus input:active {
    border: 1px solid var(--font-color-secondary);
}

.player-menus img:hover,
.player-menus.human:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.player-menus img.selected {
    transform: scale(1.2);
    border-radius: 1rem;
    border-bottom: 2px solid var(--button-color);
    border-top: 2px solid var(--button-color);
    padding: .35rem 0;
}

/* options menu restart and start game styling */

.options {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#restart, #start-game {
    padding: .5em 1.25em;
    letter-spacing: .25em;
    font-weight: bolder;
    cursor: pointer;
    background-color: #262626;
    color: var(--font-color-main);
    outline: none;
    appearance: none;
    transition: all .25s ease-in-out;
    width: 100%;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#restart, #start-game {
    border-bottom: .2rem solid var(--font-color-secondary);
}

#restart:hover, #start-game:hover {
    transform: scale(1.02);
    color: var(--font-color-secondary);
    border: .25rem solid var(--font-color-secondary);
}

/* footer styling */

.footer {
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    color: var(--font-color-main);
    font-size: 1.1rem;
    letter-spacing: .25rem;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

